<div class="container">
    <div class="row">
        <div class="col-12 header">
            WorkFlow:To Do List
        </div>
        <div class="col-12">
          <span class="back">Go Back =></span>
          <button [routerLink]="['/signup']" id="button" class="btn bg-dark text-white">Sign-Up</button>
          <button  [routerLink]="['/login']"  class="btn bg-dark text-white">Login</button>
        </div>


        <div class="col-12 field">
          <form>
            <div class="form-group">
              <label for="email">
                Enter You Email Address To Recover Password:
              </label>
              <input type ="email" [(ngModel)]="email"  name = "email" class="form-control" placeholder="Email">
            </div>
            <button class="btn bg-dark text-white"(click)=forgotPassword()>Recover</button>
          </form>
        </div>
    </div>

    </div>
