<div class="container-fluid">


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Add A New List</h4>
         <button type="button" class="close" data-dismiss="modal">
           &times;
         </button>
        </div>

        <div class="modal-body">
          <form class="form-group">
          <label for="input">Name:</label>
          <input [(ngModel)]="name" name="name" type="text" class="form-control">
          <br>
      
          <label for="input">Description:</label>
          <input [(ngModel)]="description" name="description" type="text" class="form-control">
       </form>
        </div>


        <div class="modal-footer">
          <button (click)=addnewList() class="btn btn-success text-white" data-dismiss="modal">Add</button>
          <button  class="btn btn-danger text-white" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!--SideBar-->
    <div class="col-md-3 aside">
     <span class="user">
       <i class="fa fa-user"></i>{{friendName}}
     </span>
     <div>
        <i  class="fa fa-plus-square addlist" data-toggle="modal" data-target="#myModal"></i>
    </div>
    <hr class="lead">

    <div *ngFor="let list of allLists">
        <div *ngIf="list.group==false&&list.createdBy==friendId">
        <p class="tasks">
            <span class="name" (click)=selectList(list.name,list.id)>
                <i class="fa fa-list-alt"></i>{{list.name}}
            </span>
            <i (click)=deleteList(list.id) class="fa fa-trash-o trash1"></i>
        </p>

        <small style="font-weight:bold ;font-style:sans-serif;" class="text-muted text-sm">- {{list.description}}</small>

        <hr class="lead">
        </div>
    </div>
    </div>
   

    <!--Task Menu -->
    <div class="col-md-9 taskmenu">
      <div class="input">
        <input [(ngModel)]="taskName" name ="taskName" type="text" class="textfield" placeholder="Enter Task">
        <i (click)=createTask() class="fa fa-plus-square sqr"></i>
      </div>
      <p class="listname">{{listName}}</p> 
      <div class="tasklist">
      <div *ngFor="let task of tasks">
          <p class="taskName" *ngIf="task.listid==listId">
              <input type="checkbox"> {{task.taskName}}
              <i (click)=deletetask(task.taskid) class="fa fa-trash-o trash2"></i>
          </p>
          </div>
      </div>
    </div>




      
  
  </div>
</div>




